<footer>
    @if(authService.isUserAuthenticated() && router.url !== "/connect" ) {
        <div class="fixed bottom-12 right-0.5 p-2 flex items-end justify-end w-24 h-24 ">
            <div >
                <button routerLink="/connect" class="bg-yellow-500 py-4 px-0.5 rounded-lg text-white shadow-md">
                    <h1 class="text-sm drop-shadow-sm">
                    Connect 
                    </h1>
                    
                </button>
            </div>
        </div>
    }
    <div class="flex justify-between flex-wrap bg-yellow-500 text-white p-3 border border-transparent border-t-white">
        <div class="drop-shadow-sm">
            DIETI, University of Naples Federico II
        </div>
        <div class="inline-flex drop-shadow-sm">
            <a href="https://github.com/ToytonelloEdu" class="link ml-2">Antonio Ascione</a>
        </div>
    </div>
</footer>